body {
    background: rgb(4,4,4);
    background: linear-gradient(90deg, rgba(4,4,4,0.8799894957983193) 0%, rgba(22,22,22,1) 0%, rgba(190,197,199,1) 100%, rgba(182,182,182,1) 100%);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#cells-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.color-cells {
    width: 40vw;
    height: 10vw;
    margin: 10px;
    border-radius: 6px;
}


.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

#play-button-container {
    display: flex;
    justify-content: center;
    margin: 30px;
}

#play-button-container button {
    width: 20vw;
    height: 5vw;
    border-radius: 6px;
    border-color: #666;
    background-color: #123;
    font-family: serif;
    font-size: 3vw;
    font-weight: 700;
    color: #bbb;
    
}

#result-counter-container {
    display: flex;
    justify-content: center;
}

#result-counter-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2vw;
    font-weight: 300;
}

.active {
    outline: 4px solid #000;
}

.hidden {
    display: none;
}
